body {
    background-color: #2f2f2f;
    color: #bfbfbf;
}
h1, h2 {
    font-weight: normal;
}
em {
    color: #e07a05;
}
input {
    color: #bfbfbf;
    background-color: #5f5f5f;
    border: 2px #bfbfbf;
}
a:link {
    color: #cfcfcf;
}
a:visited {
    color: #5f5f5f;
}
a:hover {
    color: #bfbfbf;
}